<div class="footer_space hide-on-small-only"></div>
<footer class="general_footer_div" >
    <div class="row wrap">
        <div class="col s12 m7 l6">
            <p>{{ langText.footer_copyright }}</p>
            <p>{{ langText.footer_address }}<br/>{{ langText.footer_licensed }}</p>
        </div>
        <div class="col s12 m5 l6 {% if not is_mobile() %}right-align{% endif %}">
            <!--footer nav-->
            <p>Terms of Use | Privacy | Anti-Spam policy | Cookie Policy</p>
        </div>
    </div>
</footer>
