/*--------------------------------------------------------------
Layout structure
--------------------------------------------------------------*/
.body_container{
    min-height: 100vh;
    min-width: 768px;
    position: relative;
}
.wrap{
    min-width: 768px;
}

/*--------------------------------------------------------------
page style
--------------------------------------------------------------*/
.home_verify_div{
    height: 15rem;
}
.home_verify_msg{
    height: 10.7rem;
}
.home_footer_div{
    position: absolute;
    bottom: 0;
    left : 0;
    width: 100%;
}
/*--------------------------------------------------------------
include components
--------------------------------------------------------------*/
header {
    padding-top:1.25rem;
}
.header_nav_bar{
    padding:0 1.25rem;
    font-size: 1.125rem;
}
.footer_space{
    height:6.25rem;
}
.general_footer_div{
    position: absolute;
    bottom: 0;
    left : 0;
    width: 100%;
}
/** main page block effect **/
.view{
    height: 10rem;
}
.view:hover{
    transition: all 0.2s linear;
    background: #40c4ff; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(-45deg, #2398da, #a4e3f3); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(-45deg, #2398da, #a4e3f3); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(-45deg, #2398da, #a4e3f3); /* For Firefox 3.6 to 15 */
    background: linear-gradient(-45deg, #2398da, #a4e3f3); /* Standard syntax (must be last) */
}
.view:hover span{
    transition: all 0.2s linear;
    transform: translateY(-1.5rem);
}
.view:hover .view3{
    transition: all 0.3s ease-in-out;
    opacity: 1;
    transform: scale(1.1);
    transform: translateY(-2.5rem);
}
.view:hover .view3 hr{
    transition: all 0.5s ease-in-out;
    opacity: 1;
    width: 100%;
}

.home_model { width:50%;max-height: 80%}