@import url("../../../httpdocs/components/materialize/dist/css/materialize.min.css");

html{box-sizing: border-box;font-size:16px;font-family: 'Open Sans'}
body{background-color: #ececec;}
/*--------------------------------------------------------------
Layout structure
--------------------------------------------------------------*/
.body_container{
    width:100%;
}
.wrap{
    width: 100%;
    max-width:1200px;
    margin: 0 auto;
}
main{
    background-color:#fff;
    padding: 0 0 1rem;
    margin: 1.5rem 0 0;
}

/*--------------------------------------------------------------
page style
--------------------------------------------------------------*/
.home_verify_div{
    background-color: #298ec3;
    text-align: center;
    font-size:1.25rem;
}
.home_verify_msg{
    padding: 0 2.5rem;
}
.home_verify_msg_text{
    width:100%
}
.home_footer_div{
    font-size:0.625rem;
}
.home_h1{font-size:2.25rem;font-weight: 300;}




/*--------------------------------------------------------------
general
--------------------------------------------------------------*/
.general_h1{font-size:2rem; margin-top: 1rem;}
.general_sub{border-top:2px solid red;background-color: #298ec3; color :#fff;
             padding:1rem}

.general{
    color:#555;
}
.general h1{
    font-size:1.875rem;
    color :#555;
    font-weight: 600;
    padding-bottom: 1rem;
    border-bottom: 1px solid #84dcf2;
    margin-bottom: 0.625rem;
}
.general h2{
    font-size:1.375rem;
    color:#416478;
    margin: 1rem 0;

}
.general h3{
    font-size:1.125rem;
    color : #416478;
    font-weight: 600;
    margin:1rem 0;
}
.general a{
    color:#555;
}
.general .semibold{
    font-weight: 600;
    margin-bottom: 0.8rem;
}
.general .right_side{
    margin-top: 5rem;
}

i.icon_color_1{
    color:#2297da;
}
i.icon_color_2{
    color:#636363;
}
i.icon_color_3{
    color:#959595;    
}
i.icon_color_4{
    color : #416478;
}
i.icon_color_5{
    color : #fff;
}
i.icon_color_6{
    color : #f1843b;
}
i.icon_color_7{
    color : #f7941d;
}
i.icon_color_8{
    color : #000;
}
i.icon_size_16{
    font-size: 1rem;
    vertical-align: sub;
}
i.icon_size_18{
    font-size: 1.125rem;
    vertical-align: sub;
}
i.icon_size_22{
    font-size: 1.375rem;
    vertical-align: sub;
}
i.icon_size_24{
    font-size: 1.5rem;
    vertical-align: sub;
}
i.icon_size_36{
    font-size: 2.25rem;
    vertical-align: sub;
}
i.icon_size_80{
    font-size: 5rem;
    vertical-align: sub;
}

.min-text{
    font-size: 0.8125rem;
    color:#555;
}
.gen_divider{
    background-color: #c2c2c2;
    height: 1px;
    overflow: hidden;
    margin-bottom: 1.25rem;
}

/** link style */
a.btn-style-1{
    background-color: #84dcf2;
    color: #000;
    font-weight: 400;
    height: auto;
    line-height: 1.5;
    margin-bottom: 1.25rem;
    padding: 0.5rem 2rem;
    text-align: center;
    width: 100%;
}
button.btn-style-1{
    background-color: #84dcf2;
    color: #000;
    font-weight: 400;
    height: auto;
    line-height: 1.5;
    margin-bottom: 1.25rem;
    padding: 0.5rem 2rem;
}
span.btn-style-1{
    background-color: #84dcf2;
    color: #000;
    font-weight: 400;
    height: auto;
    line-height: 1.5;
    padding: 0.5rem 2rem;
}
a.btn-style-1:hover, 
a.btn-style-1:focus, 
span.btn-style-1:hover,
span.btn-style-1:focus,
button.btn-style-1:hover,
button.btn-style-1:focus
{
    background-color: #b9f1ff;
}
.btn_h_space{
    display:inline-block;
    width:1rem;
}

/*--------------------------------------------------------------
include components
--------------------------------------------------------------*/
.general_footer_div{
    font-size:0.625rem;
    background-color: #0088cc;
    color:#fff;
    padding:1rem;
}
/** main page block effect **/
.view {
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    background-color: #0088cc;
    margin-bottom: 1rem;
}
.view1{
    width:100%;
    height: 100%;
    position: absolute;
    top:0;left:0px;font-size: 1.5rem;
    text-align: center;
    will-change: transform;
    color : #fff;
    font-weight: l00;
    font-size:2.25rem;
    font-weight: 100;
}
.view3{
    font-size:0.875rem;
    color: #555;
    position: absolute;
    width:100%;
    height:100%;
    text-align: center;
    top: 0; padding: 8rem 2rem 0;
    opacity: 0;
    transform: scale(0.5);
    transform: translateY(1.5rem);
    will-change: transform;
}
.view3 hr{
    border-color: #fff;
    border-image: none;
    border-style: solid none none;
    border-width: 1px medium medium;
    height: 1px;
    margin: 0 auto 0.5rem;
    width: 20%;
    opacity: 0;
    will-change: transform;
}
/*** offline box ****/
.offline{
    background-color: red;
    color : #fff;
    padding : 1rem;
    margin: 1rem 0;
}
/*** Loading box ****/
.loadingBox_c{
    background: transparent none repeat scroll 0 0;
    box-shadow: none;
    height: 7rem;
    text-align: center; 
}
/**** forgot password ****/
.home_model-content{
    color : #000;
    padding : 1.5rem;
}
.home_model-content h4{
    font-size:1.125rem;
}
.home_model-content_p{
    font-size:0.875rem;
    color:#555;
    padding-bottom: 1rem
}
/**** policy_contact ****/
.policy_contact{
    border-bottom: 1px solid #c2c2c2;
}
.policy_contact_bg_box{
    background-color: #f2fcff;
    padding: 1.5rem 0;
}
.policy_contact_name{
    font-size:1.25rem;
    color:#86bc43;
    font-weight: 600;
    margin: 0.5rem 0 1rem;
}
.policy_contact_detail{
    padding:0 0 0.5rem 0;
}
/*** premium box ****/
.premium_box{
    padding:0.8125rem 0;
    background-color: #ececec;
    margin-bottom: 0.625rem;
}
.premium_box_iconbox{
    margin:0 0.5rem 0 0;
}
.premium_box_namebox{
    font-weight: bold;
    color:  #416478;
    padding-left: 1.5rem;
}
.premium_box_premium{
    color:#464646;
    font-weight: 600;
}
.premium_box_advisor{
    border-bottom: 1px solid #c2c2c2;margin-bottom: 1rem;
}

/****office map*****/
.office_map{};
.office_map_iconbox{
    margin:0 0 0 0.5rem;
}
.office_map_textbox{
    padding:1rem 0;
}
.office_map_infobox{
    font-size: 0.875rem;
    margin-bottom: 0.5rem;
    padding-left: 2rem;
    padding-right: 1rem;
    line-height: 1.5rem;
}
/***** contact box 2 ******/
.contact_box2{
    background-color: #e9f2f4;
    padding: 1rem 1.875rem 1rem 1.25rem;
}
.contact_box2_title{
    font-size: 1rem;
    font-weight: 600;
    color:#000
}
.contact_box2_detailbox{
    padding-top: 0.5rem;
}
.contact_box2_iconbox{

}
.contact_box2 a{
    color:#2190cf;
}
.contact_box2_infobox{
    font-size: 1rem;
    margin-bottom: 0.5rem;
    padding-left: 2rem;
    padding-right: 1rem;
    line-height: 1.5625rem;
}
/***** breadcrumb ****/
.claim_nav {
    border-bottom: 1px solid #84dcf2;
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
}
.claim_nav .breadcrumb {
    color : #959595;
    font-size:0.875rem
}
.claim_nav .breadcrumb:last-child {
    color : #959595;
}
.claim_nav .breadcrumb::before{
    color : #959595;
    font-size:1.25rem;
}
.claim_nav  a.breadcrumb{
    color : #959595;
}
.claim_nav .breadcrumb.active{
    color : #0292e4;
}
.claim_nav .breadcrumb.active::before{
    color : #0292e4;
}

/*** claim box 1 ****/
.claim_info_box1{
    background-color: #0292e4;
    padding: 1.25rem;
    display:block;
}
.claim_info_box1_img{
    margin-right: 1rem;
}
.claim_info_box1_title{
    font-size: 1.125rem;
    font-weight: 600;
    color:#fff;
    display: block;
}
.claim_info_box1_desc{
    font-size: 0.8125rem;
    color:#84dcf2;
    display: block;
}
.claim_info_box1_1{
    background-color: #0292e4;
    padding: 1rem;
    display:block;
    overflow: hidden;
}
.claim_info_box1_1_img{
    margin-right: 0.5rem;
    margin-top: 0.5rem;
}
.claim_info_box1_1_title{
    font-size: 1.125rem;
    font-weight: 600;
    color:#fff;
    display: block;
}
.claim_info_box2{
    background-color: #84dcf2;
    padding: 1.25rem;
    display:block;
    text-align: center;
    margin-bottom: 1rem;
}
.claim_info_box2_title{
    color: #000;
    display: block;
    font-size: 1rem;
    font-weight: 600;
}
.tipsBox{
}
.tipsbox_title{
    background-color: #f1843b;
    color :#fff;
    font-size: 1.375;
    padding: 1rem 1.25rem;
}
.tipsbox_info{
    background-color: #ebebeb;
    padding : 1.25rem;
}
.tipsbox_iconbox{
    line-height: 1rem;
}
.tipsbox_textbox{
    padding-left: 1.625rem;
    margin-bottom: 1rem;
}
/** file upload btn **/
.file_box_title{
    background-color: #ececec;
    padding: 1.25rem 0.625rem;
}
/*** list claim ***/
.list_claim{
    display: block;
    text-align: center;
    background-color: #ECECEC;
    padding: 1rem;
    margin-bottom: 1rem;
}
.list_claim h3{
    margin: 0.5rem 0 0;
}
.list_claim_time{
    margin-bottom: 0.5rem;
}
/***** member info ******/
.member_info{
    background-color:#ececec;
    padding: 0.5rem;
}
.member_info_icon_wapper{
    height:6rem;
}
.member_icon{
    width:100%;
    text-align: center;
}
/******* pending_box *****/
.pending_box{background-color: #fff3e6;
padding: 1rem 0;overflow: hidden}
.pending_box_icon{float: left;
padding: 0.5rem 1rem;}
.padding_box_title{padding-left: 3.5rem;
font-size: 1rem;
font-weight: bold;
color: #f7941d;}
.padding_box_desc{padding-left: 3.5rem;padding-right: 0.5rem}
/***** address box *****/
.member_address_newbox_textbox{
    width:100%; text-align:center
}

.form_edit{
    background-color: #ffeff0;
    margin-left: -1rem;
    margin-right: -1rem;
    padding: 1rem;
}

/* form style*/
.btn , .btn-large{ text-transform: none; font-weight: 600 }
/** style1 **/
.form-style-1 .input-field input[type="text"].valid,
.form-style-1 .input-field input[type="password"].valid,
.form-style-1 .input-field input[type="email"].valid,
.form-style-1 .input-field input[type="url"].valid,
.form-style-1 .input-field input[type="time"].valid,
.form-style-1 .input-field input[type="date"].valid,
.form-style-1 .input-field input[type="datetime"].valid,
.form-style-1 .input-field input[type="tel"].valid,
.form-style-1 .input-field input[type="number"].valid,
.form-style-1 .input-field input[type="search"].valid{
    border-bottom: 1px solid #096190;
    box-shadow: none;
}
.form-style-1 .input-field label {
    color: #096190;
}
.form-style-1 input:not([type]), 
.form-style-1 input[type="text"], 
.form-style-1 input[type="password"], 
.form-style-1 input[type="email"], 
.form-style-1 input[type="url"], 
.form-style-1 input[type="time"], 
.form-style-1 input[type="date"], 
.form-style-1 input[type="datetime"], 
.form-style-1 input[type="datetime-local"], 
.form-style-1 input[type="tel"], 
.form-style-1 input[type="number"], 
.form-style-1 input[type="search"], 
.form-style-1 textarea.materialize-textarea {
    border-bottom: 1px solid #096190;
}
.form-style-1 .input-field input[type=text]:focus + label ,
.form-style-1 .input-field input[type="password"]:focus + label, 
.form-style-1 .input-field input[type="email"]:focus + label, 
.form-style-1 .input-field input[type="url"]:focus + label, 
.form-style-1 .input-field input[type="time"]:focus + label, 
.form-style-1 .input-field input[type="date"]:focus + label, 
.form-style-1 .input-field input[type="datetime"]:focus + label, 
.form-style-1 .input-field input[type="datetime-local"]:focus + label, 
.form-style-1 .input-field input[type="tel"]:focus + label, 
.form-style-1 .input-field input[type="number"]:focus + label, 
.form-style-1 .input-field input[type="search"]:focus + label, 
.form-style-1 .input-field textarea.materialize-textarea:focus + label {
    color: #fff;
}
.form-style-1 input:not([type]):focus:not([readonly]),
.form-style-1 input[type=text]:focus:not([readonly]),
.form-style-1 input[type=password]:focus:not([readonly]),
.form-style-1 input[type=email]:focus:not([readonly]),
.form-style-1 input[type=url]:focus:not([readonly]),
.form-style-1 input[type=time]:focus:not([readonly]),
.form-style-1 input[type=date]:focus:not([readonly]),
.form-style-1 input[type=datetime]:focus:not([readonly]),
.form-style-1 input[type=datetime-local]:focus:not([readonly]),
.form-style-1 input[type=tel]:focus:not([readonly]),
.form-style-1 input[type=number]:focus:not([readonly]),
.form-style-1 input[type=search]:focus:not([readonly]),
.form-style-1 textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #fff;
    box-shadow: 0 1px 0 0 #fff;
}
.form-style-1 input:not([type]).invalid, input:not([type]):focus.invalid,
.form-style-1 input[type=text].invalid,
.form-style-1 input[type=text]:focus.invalid,
.form-style-1 input[type=password].invalid,
.form-style-1 input[type=password]:focus.invalid,
.form-style-1 input[type=email].invalid,
.form-style-1 input[type=email]:focus.invalid,
.form-style-1 input[type=url].invalid,
.form-style-1 input[type=url]:focus.invalid,
.form-style-1 input[type=time].invalid,
.form-style-1 input[type=time]:focus.invalid,
.form-style-1 input[type=date].invalid,
.form-style-1 input[type=date]:focus.invalid,
.form-style-1 input[type=datetime].invalid,
.form-style-1 input[type=datetime]:focus.invalid,
.form-style-1 input[type=datetime-local].invalid,
.form-style-1 input[type=datetime-local]:focus.invalid,
.form-style-1 input[type=tel].invalid,
.form-style-1 input[type=tel]:focus.invalid,
.form-style-1 input[type=number].invalid,
.form-style-1 input[type=number]:focus.invalid,
.form-style-1 input[type=search].invalid,
.form-style-1 input[type=search]:focus.invalid,
.form-style-1 textarea.materialize-textarea.invalid,
.form-style-1 textarea.materialize-textarea:focus.invalid {
    border-bottom: 1px solid #F44336;
    box-shadow: 0 1px 0 0 #F44336;
}
.form-style-1 input:not([type]).invalid + label:after,
.form-style-1 input:not([type]):focus.invalid + label:after,
.form-style-1 input[type=text].invalid + label:after,
.form-style-1 input[type=text]:focus.invalid + label:after,
.form-style-1 input[type=password].invalid + label:after,
.form-style-1 input[type=password]:focus.invalid + label:after,
.form-style-1 input[type=email].invalid + label:after,
.form-style-1 input[type=email]:focus.invalid + label:after,
.form-style-1 input[type=url].invalid + label:after,
.form-style-1 input[type=url]:focus.invalid + label:after,
.form-style-1 input[type=time].invalid + label:after,
.form-style-1 input[type=time]:focus.invalid + label:after,
.form-style-1 input[type=date].invalid + label:after,
.form-style-1 input[type=date]:focus.invalid + label:after,
.form-style-1 input[type=datetime].invalid + label:after,
.form-style-1 input[type=datetime]:focus.invalid + label:after,
.form-style-1 input[type=datetime-local].invalid + label:after,
.form-style-1 input[type=datetime-local]:focus.invalid + label:after,
.form-style-1 input[type=tel].invalid + label:after,
.form-style-1 input[type=tel]:focus.invalid + label:after,
.form-style-1 input[type=number].invalid + label:after,
.form-style-1 input[type=number]:focus.invalid + label:after,
.form-style-1 input[type=search].invalid + label:after,
.form-style-1 input[type=search]:focus.invalid + label:after,
.form-style-1 textarea.materialize-textarea.invalid + label:after,
.form-style-1 textarea.materialize-textarea:focus.invalid + label:after {
    content: attr(data-error);
    color: #F44336;
    opacity: 1;
}
/* form style 2*/
.form-style-2 .input-field input[type="text"].valid,
.form-style-2 .input-field input[type="password"].valid,
.form-style-2 .input-field input[type="email"].valid,
.form-style-2 .input-field input[type="url"].valid,
.form-style-2 .input-field input[type="time"].valid,
.form-style-2 .input-field input[type="date"].valid,
.form-style-2 .input-field input[type="datetime"].valid,
.form-style-2 .input-field input[type="tel"].valid,
.form-style-2 .input-field input[type="number"].valid,
.form-style-2 .input-field input[type="search"].valid{
    border-bottom: 1px solid #a1a1a1;
    box-shadow: none;
}
.form-style-2 .input-field label {
    color: #a1a1a1;
}
.form-style-2 input:not([type]), 
.form-style-2 input[type="text"], 
.form-style-2 input[type="password"], 
.form-style-2 input[type="email"], 
.form-style-2 input[type="url"], 
.form-style-2 input[type="time"], 
.form-style-2 input[type="date"], 
.form-style-2 input[type="datetime"], 
.form-style-2 input[type="datetime-local"], 
.form-style-2 input[type="tel"], 
.form-style-2 input[type="number"], 
.form-style-2 input[type="search"], 
.form-style-2 textarea.materialize-textarea {
    border-bottom: 1px solid #a1a1a1;
}
.form-style-2 .input-field input[type=text]:focus + label ,
.form-style-2 .input-field input[type="password"]:focus + label, 
.form-style-2 .input-field input[type="email"]:focus + label, 
.form-style-2 .input-field input[type="url"]:focus + label, 
.form-style-2 .input-field input[type="time"]:focus + label, 
.form-style-2 .input-field input[type="date"]:focus + label, 
.form-style-2 .input-field input[type="datetime"]:focus + label, 
.form-style-2 .input-field input[type="datetime-local"]:focus + label, 
.form-style-2 .input-field input[type="tel"]:focus + label, 
.form-style-2 .input-field input[type="number"]:focus + label, 
.form-style-2 .input-field input[type="search"]:focus + label, 
.form-style-2 .input-field textarea.materialize-textarea:focus + label {
    color: #2297da;
}
.form-style-2 input:not([type]):focus:not([readonly]),
.form-style-2 input[type=text]:focus:not([readonly]),
.form-style-2 input[type=password]:focus:not([readonly]),
.form-style-2 input[type=email]:focus:not([readonly]),
.form-style-2 input[type=url]:focus:not([readonly]),
.form-style-2 input[type=time]:focus:not([readonly]),
.form-style-2 input[type=date]:focus:not([readonly]),
.form-style-2 input[type=datetime]:focus:not([readonly]),
.form-style-2 input[type=datetime-local]:focus:not([readonly]),
.form-style-2 input[type=tel]:focus:not([readonly]),
.form-style-2 input[type=number]:focus:not([readonly]),
.form-style-2 input[type=search]:focus:not([readonly]),
.form-style-2 textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #2297da;
    box-shadow: 0 1px 0 0 #2297da;
}
.form-style-2 input:not([type]).invalid, input:not([type]):focus.invalid,
.form-style-2 input[type=text].invalid,
.form-style-2 input[type=text]:focus.invalid,
.form-style-2 input[type=password].invalid,
.form-style-2 input[type=password]:focus.invalid,
.form-style-2 input[type=email].invalid,
.form-style-2 input[type=email]:focus.invalid,
.form-style-2 input[type=url].invalid,
.form-style-2 input[type=url]:focus.invalid,
.form-style-2 input[type=time].invalid,
.form-style-2 input[type=time]:focus.invalid,
.form-style-2 input[type=date].invalid,
.form-style-2 input[type=date]:focus.invalid,
.form-style-2 input[type=datetime].invalid,
.form-style-2 input[type=datetime]:focus.invalid,
.form-style-2 input[type=datetime-local].invalid,
.form-style-2 input[type=datetime-local]:focus.invalid,
.form-style-2 input[type=tel].invalid,
.form-style-2 input[type=tel]:focus.invalid,
.form-style-2 input[type=number].invalid,
.form-style-2 input[type=number]:focus.invalid,
.form-style-2 input[type=search].invalid,
.form-style-2 input[type=search]:focus.invalid,
.form-style-2 textarea.materialize-textarea.invalid,
.form-style-2 textarea.materialize-textarea:focus.invalid {
    border-bottom: 1px solid #F44336;
    box-shadow: 0 1px 0 0 #F44336;
}
.form-style-2 input:not([type]).invalid + label:after,
.form-style-2 input:not([type]):focus.invalid + label:after,
.form-style-2 input[type=text].invalid + label:after,
.form-style-2 input[type=text]:focus.invalid + label:after,
.form-style-2 input[type=password].invalid + label:after,
.form-style-2 input[type=password]:focus.invalid + label:after,
.form-style-2 input[type=email].invalid + label:after,
.form-style-2 input[type=email]:focus.invalid + label:after,
.form-style-2 input[type=url].invalid + label:after,
.form-style-2 input[type=url]:focus.invalid + label:after,
.form-style-2 input[type=time].invalid + label:after,
.form-style-2 input[type=time]:focus.invalid + label:after,
.form-style-2 input[type=date].invalid + label:after,
.form-style-2 input[type=date]:focus.invalid + label:after,
.form-style-2 input[type=datetime].invalid + label:after,
.form-style-2 input[type=datetime]:focus.invalid + label:after,
.form-style-2 input[type=datetime-local].invalid + label:after,
.form-style-2 input[type=datetime-local]:focus.invalid + label:after,
.form-style-2 input[type=tel].invalid + label:after,
.form-style-2 input[type=tel]:focus.invalid + label:after,
.form-style-2 input[type=number].invalid + label:after,
.form-style-2 input[type=number]:focus.invalid + label:after,
.form-style-2 input[type=search].invalid + label:after,
.form-style-2 input[type=search]:focus.invalid + label:after,
.form-style-2 textarea.materialize-textarea.invalid + label:after,
.form-style-2 textarea.materialize-textarea:focus.invalid + label:after {
    content: attr(data-error);
    color: #F44336;
    opacity: 1;
}

/* form style 3*/
.form-style-3 .input-field input[type="text"].valid,
.form-style-3 .input-field input[type="password"].valid,
.form-style-3 .input-field input[type="email"].valid,
.form-style-3 .input-field input[type="url"].valid,
.form-style-3 .input-field input[type="time"].valid,
.form-style-3 .input-field input[type="date"].valid,
.form-style-3 .input-field input[type="datetime"].valid,
.form-style-3 .input-field input[type="tel"].valid,
.form-style-3 .input-field input[type="number"].valid,
.form-style-3 .input-field input[type="search"].valid{
    border-bottom: 1px solid #a1a1a1;
    box-shadow: none;
    color: #464646;
    font-weight: 600;
}
.form-style-3 .input-field label {
    color: #a1a1a1;
}
.form-style-3 input:not([type]), 
.form-style-3 input[type="text"], 
.form-style-3 input[type="password"], 
.form-style-3 input[type="email"], 
.form-style-3 input[type="url"], 
.form-style-3 input[type="time"], 
.form-style-3 input[type="date"], 
.form-style-3 input[type="datetime"], 
.form-style-3 input[type="datetime-local"], 
.form-style-3 input[type="tel"], 
.form-style-3 input[type="number"], 
.form-style-3 input[type="search"], 
.form-style-3 textarea.materialize-textarea {
    border-bottom: 1px solid #a1a1a1;
    box-shadow: none;
    color: #464646;
    font-weight: 600;
}
.form-style-3 .input-field input[type=text]:focus + label ,
.form-style-3 .input-field input[type="password"]:focus + label, 
.form-style-3 .input-field input[type="email"]:focus + label, 
.form-style-3 .input-field input[type="url"]:focus + label, 
.form-style-3 .input-field input[type="time"]:focus + label, 
.form-style-3 .input-field input[type="date"]:focus + label, 
.form-style-3 .input-field input[type="datetime"]:focus + label, 
.form-style-3 .input-field input[type="datetime-local"]:focus + label, 
.form-style-3 .input-field input[type="tel"]:focus + label, 
.form-style-3 .input-field input[type="number"]:focus + label, 
.form-style-3 .input-field input[type="search"]:focus + label, 
.form-style-3 .input-field textarea.materialize-textarea:focus + label {
    color: #2297da;

}
.form-style-3 input:not([type]):focus:not([readonly]),
.form-style-3 input[type=text]:focus:not([readonly]),
.form-style-3 input[type=password]:focus:not([readonly]),
.form-style-3 input[type=email]:focus:not([readonly]),
.form-style-3 input[type=url]:focus:not([readonly]),
.form-style-3 input[type=time]:focus:not([readonly]),
.form-style-3 input[type=date]:focus:not([readonly]),
.form-style-3 input[type=datetime]:focus:not([readonly]),
.form-style-3 input[type=datetime-local]:focus:not([readonly]),
.form-style-3 input[type=tel]:focus:not([readonly]),
.form-style-3 input[type=number]:focus:not([readonly]),
.form-style-3 input[type=search]:focus:not([readonly]),
.form-style-3 textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #2297da;
    box-shadow: 0 1px 0 0 #2297da;
    color: #2297da;
    font-weight: 600;
}
.form-style-3 input:not([type]).invalid, input:not([type]):focus.invalid,
.form-style-3 input[type=text].invalid,
.form-style-3 input[type=text]:focus.invalid,
.form-style-3 input[type=password].invalid,
.form-style-3 input[type=password]:focus.invalid,
.form-style-3 input[type=email].invalid,
.form-style-3 input[type=email]:focus.invalid,
.form-style-3 input[type=url].invalid,
.form-style-3 input[type=url]:focus.invalid,
.form-style-3 input[type=time].invalid,
.form-style-3 input[type=time]:focus.invalid,
.form-style-3 input[type=date].invalid,
.form-style-3 input[type=date]:focus.invalid,
.form-style-3 input[type=datetime].invalid,
.form-style-3 input[type=datetime]:focus.invalid,
.form-style-3 input[type=datetime-local].invalid,
.form-style-3 input[type=datetime-local]:focus.invalid,
.form-style-3 input[type=tel].invalid,
.form-style-3 input[type=tel]:focus.invalid,
.form-style-3 input[type=number].invalid,
.form-style-3 input[type=number]:focus.invalid,
.form-style-3 input[type=search].invalid,
.form-style-3 input[type=search]:focus.invalid,
.form-style-3 textarea.materialize-textarea.invalid,
.form-style-3 textarea.materialize-textarea:focus.invalid {
    border-bottom: 1px solid #F44336;
    box-shadow: 0 1px 0 0 #F44336;
}
.form-style-3 input:not([type]).invalid + label:after,
.form-style-3 input:not([type]):focus.invalid + label:after,
.form-style-3 input[type=text].invalid + label:after,
.form-style-3 input[type=text]:focus.invalid + label:after,
.form-style-3 input[type=password].invalid + label:after,
.form-style-3 input[type=password]:focus.invalid + label:after,
.form-style-3 input[type=email].invalid + label:after,
.form-style-3 input[type=email]:focus.invalid + label:after,
.form-style-3 input[type=url].invalid + label:after,
.form-style-3 input[type=url]:focus.invalid + label:after,
.form-style-3 input[type=time].invalid + label:after,
.form-style-3 input[type=time]:focus.invalid + label:after,
.form-style-3 input[type=date].invalid + label:after,
.form-style-3 input[type=date]:focus.invalid + label:after,
.form-style-3 input[type=datetime].invalid + label:after,
.form-style-3 input[type=datetime]:focus.invalid + label:after,
.form-style-3 input[type=datetime-local].invalid + label:after,
.form-style-3 input[type=datetime-local]:focus.invalid + label:after,
.form-style-3 input[type=tel].invalid + label:after,
.form-style-3 input[type=tel]:focus.invalid + label:after,
.form-style-3 input[type=number].invalid + label:after,
.form-style-3 input[type=number]:focus.invalid + label:after,
.form-style-3 input[type=search].invalid + label:after,
.form-style-3 input[type=search]:focus.invalid + label:after,
.form-style-3 textarea.materialize-textarea.invalid + label:after,
.form-style-3 textarea.materialize-textarea:focus.invalid + label:after {
    content: attr(data-error);
    color: #F44336;
    opacity: 1;
}

.form-style-3 input:not([type]):disabled, input:not([type])[readonly="readonly"],
.form-style-3 input[type=text]:disabled,
.form-style-3 input[type=text][readonly="readonly"],
.form-style-3 input[type=password]:disabled,
.form-style-3 input[type=password][readonly="readonly"],
.form-style-3 input[type=email]:disabled,
.form-style-3 input[type=email][readonly="readonly"],
.form-style-3 input[type=url]:disabled,
.form-style-3 input[type=url][readonly="readonly"],
.form-style-3 input[type=time]:disabled,
.form-style-3 input[type=time][readonly="readonly"],
.form-style-3 input[type=date]:disabled,
.form-style-3 input[type=date][readonly="readonly"],
.form-style-3 input[type=datetime]:disabled,
.form-style-3 input[type=datetime][readonly="readonly"],
.form-style-3 input[type=datetime-local]:disabled,
.form-style-3 input[type=datetime-local][readonly="readonly"],
.form-style-3 input[type=tel]:disabled,
.form-style-3 input[type=tel][readonly="readonly"],
.form-style-3 input[type=number]:disabled,
.form-style-3 input[type=number][readonly="readonly"],
.form-style-3 input[type=search]:disabled,
.form-style-3 input[type=search][readonly="readonly"],
.form-style-3 textarea.materialize-textarea:disabled,
.form-style-3 textarea.materialize-textarea[readonly="readonly"] {
    color: #464646;
    font-weight: 600;
    border-bottom: 1px solid #a1a1a1;
    /** ios **/
    -webkit-text-fill-color: #464646 !important;
    opacity: 1 !important;
}
.form-style-3 input:not([type]):disabled + label,
.form-style-3 input:not([type])[readonly="readonly"] + label,
.form-style-3 input[type=text]:disabled + label,
.form-style-3 input[type=text][readonly="readonly"] + label,
.form-style-3 input[type=password]:disabled + label,
.form-style-3 input[type=password][readonly="readonly"] + label,
.form-style-3 input[type=email]:disabled + label,
.form-style-3 input[type=email][readonly="readonly"] + label,
.form-style-3 input[type=url]:disabled + label,
.form-style-3 input[type=url][readonly="readonly"] + label,
.form-style-3 input[type=time]:disabled + label,
.form-style-3 input[type=time][readonly="readonly"] + label,
.form-style-3 input[type=date]:disabled + label,
.form-style-3 input[type=date][readonly="readonly"] + label,
.form-style-3 input[type=datetime]:disabled + label,
.form-style-3 input[type=datetime][readonly="readonly"] + label,
.form-style-3 input[type=datetime-local]:disabled + label,
.form-style-3 input[type=datetime-local][readonly="readonly"] + label,
.form-style-3 input[type=tel]:disabled + label,
.form-style-3 input[type=tel][readonly="readonly"] + label,
.form-style-3 input[type=number]:disabled + label,
.form-style-3 input[type=number][readonly="readonly"] + label,
.form-style-3 input[type=search]:disabled + label,
.form-style-3 input[type=search][readonly="readonly"] + label,
.form-style-3 textarea.materialize-textarea:disabled + label,
.form-style-3 textarea.materialize-textarea[readonly="readonly"] + label {
    color: #a1a1a1;
}
.form-style-3 [type="radio"] + label{
    color :#555;
}
.form-style-3 .input-field-nolabel{
    margin-top:0px;
    position: relative;
}
.form-style-3 .input-field-nolabel input[type="number"] + label::after{
    top: 3.125rem;
}

.form-style-3 .textarea_error{
    bottom: 0;
    color: #f44336;
    display: none;
    font-size: 0.8rem;
    left: 61px;
    position: absolute;
    display:none;
}
.form-style-3 .field_error{
    border-top: 2px solid #f44336;
    color: #f44336;
    font-size: 0.8rem;
    margin-top: 0;
    display:none;
}
.form-style-3 [type="radio"] + label::before,
.form-style-3 [type="radio"] + label::after{
    margin-top:4px;
    margin-bottom:4px;
}

.customlabel-1{
    height:5.3125rem;
}
.customlabel-1 label{
    position: relative;
    top : -4px;
}


.alink_1{
    color:#096190;
    font-size:0.75rem;
    text-decoration: underline;
}

.errors_msg{
    color:#f44336;
    font-size:0.75rem;
}
.errors_msg2{
    color:#f44336;
}
.valid_msg{
    color :#4CAF50;
}