{% extends "template/base.html.twig" %}

{% import "macro/forms.twig" as forms %}

{% block cssStyle %}
    <style>
        body{color:#fff}
        {% if is_mobile() %}
            .body_container{
                background: #40c4ff; /* For browsers that do not support gradients */
                background: -webkit-linear-gradient(-45deg, #2398da, #a4e3f3); /* For Safari 5.1 to 6.0 */
                background: -o-linear-gradient(-45deg, #2398da, #a4e3f3); /* For Opera 11.1 to 12.0 */
                background: -moz-linear-gradient(-45deg, #2398da, #a4e3f3); /* For Firefox 3.6 to 15 */
                background: linear-gradient(-45deg, #2398da, #a4e3f3); /* Standard syntax (must be last) */
            }
        {% else %}
            .body_container{
                background-image: url('/assets/images/home_bg.jpg');
                background-repeat: no-repeat;
                background-position: top center;
                background-size:cover;
            } 
        {% endif %}
    </style>
{% endblock %}

{% block bodyHTML %}
    <div class="wrap">

        <div class="row">
            <div class="col s12" style="padding-top:1.25rem"><img src="/assets/images/logo.png"></div>
        </div>

        <div class="row">
            <div class="col s12 m7 l6 offset-m5 offset-l5">
                <div class="row">
                    <div class="col s12">
                        <h5>404 Page Not Found</h5>
                        <p>The page you were looking for may have been moved or deleted</p>
                        <p>Please click the back button to try another link.</p>
                        <p><a class="btn waves-effect waves-light orange lighten-1" href="/" target="_self">Home Page</a></p>
                    </div>
                </div>
            </div>   
        </div>
    </div>
    


    <div class="footer_space"></div>
    <div class="home_footer_div">
        <div class="row wrap">
            <div class="col s12 m8 l6 offset-m4 offset-l5">
                <p>{{ langText.footer_copyright }}<br/>{{ langText.footer_address }}<br/>{{ langText.footer_licensed }}</p>
            </div>
        </div>
    </div>

{% endblock %}



{% block jsBottom %}
    
{% endblock %}
