{% extends "template/s1.html.twig" %}
{% block centerBlock %}

    <h1>Home 2</h1>
    <a href="{{ path_for('SignUp') }}">Signup</a>

    <form data-jshook="loginForm"  action="" method="POST">

        <div class="row">
            <div class="col s1">
                name
            </div>
            <div class="input-field col s6">
                <input type="text" name="user_name" placeholder="Placeholder" value="" id="clientID" class="validate">

            </div>
        </div>
        <div class="row">    
            <div class="input-field col s6">
                <input type="text" name="password" placeholder="Placeholder" value="" id="password" class="validate">
                <label for="password">Password</label>
            </div>
        </div>

        <br/>
        
        <!--<input type="submit" value="Submit">-->
        <input data-jshook="loginBtn" class="btn waves-effect waves-light blue" type="button" value="Submit">
        
        <button class="btn btn-large waves-effect waves-light blue" type="submit" name="action">Submit
            <i class="material-icons left">mode_edit</i>
        </button>
        
        <button class="btn waves-effect waves-light orange" type="submit" name="action">login</button>
        <p data-jshook="loginMsg"></p>
    </form>

    {% if flash.loginError is not empty %}
        <p style="color:red">{{ flash.loginError.0  }}</p>
    {% endif %}

    <div class="view hoverable">  
        <div class="view3">
            <hr>
            Manage Claim , submit Claim
        </div>
        <a href="#1" class="view1 valign-wrapper"><span class="valign" style="width:100%">Claim</span></a>
    </div>
    <div class="view hoverable">  
        <div class="view3">
            <hr>
            Manage Claim , submit Claim
        </div>
        <a href="#2" class="view1 valign-wrapper"><span class="valign" style="width:100%">Claim</span></a>
    </div>
    <div class="view hoverable">  
        <div class="view3">
            <hr>
            Manage Claim , submit Claim
        </div>
        <a href="#3" class="view1 valign-wrapper"><span class="valign" style="width:100%">Claim</span></a>
    </div>
{% endblock %}

{% block jsBottom %}
    <script>
        csrf.setNameKey('{{ token.name }}');
        csrf.setValueKey('{{ token.value }}');
        
        $.jshook('loginBtn').on({
                'click.login': loginForm.submit
            });
    </script>
{% endblock %}
