{% extends "template/base.html.twig" %}
{% block cssStyle %}
<style>
    .passInfo{display: none;}
    .invalid{color: red}
    .valid{color:green}
</style>
{% endblock %}
{% block bodyHTML %}
<form>
    <p>    
        <label for="username">Username:</label>
        <span><input name="username" type="text" /></span>
    </p>
    <p>
        <label for="pswd">Password:</label>
        <span><input id="pswd" class="jsPassword1" type="password" name="pswd" /></span>
    </p>
    <p>
        <label for="pswd2">confirm Password:</label>
        <span><input id="pswd2" class="jsPassword2" type="password" name="pswd2" /></span>
    </p>
    <p>
        <button class="jsSignUpBtn" type="submit" disabled="disabled">Signup</button></p>


    {% include 'include/csrf.twig' %}
</form>

<div class="jsPassInfo passInfo">
    <h4>Password must meet the following requirements:</h4>
    <ul>
        <li class="jsLetter invalid">At least <strong>one Case Diff letter</strong></li>
        <li class="jsNumber invalid">At least <strong>one number</strong></li>
        <li class="jsLength invalid">Be at least <strong>8 characters</strong></li>
        <li class="jsPassSame invalid">confirm password</li>
    </ul>
</div>
{% endblock %}
    
{% block jsBottom %}
    {{ parent() }}
    <script>
    $(function () {
        'use strict';
        var setting = {
            jsPassInfo : $(".jsPassInfo"),
            btn : $('.jsSignUpBtn'),
            length : $('.jsLength'),
            letter : $('.jsLetter'),
            num : $('.jsNumber'),
            passSame : $('.jsPassSame'),
            validClass : 'valid',
            invalidClass: 'invalid'
        };
        passwordControl.setting(setting);
        var $jsPassInfo = $(".jsPassInfo");
        $('.jsPassword1').on({
            keyup: function () {
                var pswd = $(this).val();
                passwordControl.setP1(pswd) ;
                passwordControl.check();
            }, focus: function () {
                passwordControl.infoShow();
            }, blur: function () {
                passwordControl.infoHide();
            }
        });
        $('.jsPassword2').on({
            keyup: function () {
                var pswd2 = $(this).val();
                passwordControl.setP2(pswd2);
                passwordControl.check();
            }, focus: function () {
                passwordControl.infoShow();
            }, blur: function () {
                passwordControl.infoHide();
            }
        });
    });
</script>
{% endblock %}

