{% extends "template/s1.html.twig" %}
{% block centerBlock %}
    <form>
        <p>    
            <label for="username">Username:</label>
            <span><input data-jshook="username" name="username" type="text" /></span>
        </p>
        <p>
            <label for="pswd">Password:</label>
            <span><input data-jshook="password1 checkPass" type="password" name="pswd" /></span>
        </p>
        <p>
            <label for="pswd2">confirm Password:</label>
            <span><input data-jshook="password2 checkPass" type="password" name="pswd2" /></span>
        </p>
        <p><button data-jshook="SignUpBtn" type="submit" disabled="disabled">Signup</button></p>
        {% include 'include/csrf.twig' %}
    </form>

    <div data-jshook="passCheckInfo" >
        <!--<h4>Password must meet the following requirements:</h4>-->
        <ul>
            <li data-jshook="UserNamePass" class="invalid">Username <strong>can use</strong>&nbsp;&nbsp;<i data-jshook="loading" class="fa fa-spinner fa-pulse hidden"></i></li>
            <li data-jshook="Letter" class="invalid">At least <strong>one Case Diff letter</strong></li>
            <li data-jshook="Number" class="invalid">At least <strong>one number</strong></li>
            <li data-jshook="Length" class="invalid">Be at least <strong>8 characters</strong></li>
            <li data-jshook="PassSame" class="invalid">confirm <strong>password</strong></li>
        </ul>
    </div>
{% endblock %}

{% block jsBottom %}
    {{ parent() }}
    <script>
        $(function () {
            //'use strict';
            var SignUpControl = (function () {
                //todo:check username dupe?
                // need ajax? so here otherwise move to *.js 
                var $jsPassInfo = $.jshook('passCheckInfo');
                var $btn = $.jshook('SignUpBtn');
                var $length = $.jshook('Length');
                var $letter = $.jshook('Letter');
                var $num = $.jshook('Number');
                var $usernamePass = $.jshook('UserNamePass');
                var $passSame = $.jshook('PassSame');
                var $loading = $.jshook('loading');
                var validCssClass = 'valid';
                var inValidCssClass = 'invalid';
                var username;

                var passwordModule = createpasswordModule();

                var checkUsername = debounce(function () {
                    $loading.removeClass('hidden');
                    $.getJSON("{{ path_for('Ajax.Username') }}", {'username': username}, function (data) {
                        if (data.code === 2060) {
                            valid($usernamePass);
                        } else {
                            inValid($usernamePass);
                        }
                        canSubmit();
                        $loading.addClass('hidden');
                    });
                }, 750);
                function setUsername() {
                    inValid($usernamePass);
                    canSubmit();
                    username = $(this).val();
                    checkUsername();
                }
                function setP1() {
                    passwordModule.setP1($(this).val());
                }
                function setP2() {
                    passwordModule.setP2($(this).val());
                }
                function valid($obj) {
                    $obj.removeClass(inValidCssClass).addClass(validCssClass);
                }
                function inValid($obj) {
                    $obj.removeClass(validCssClass).addClass(inValidCssClass);
                }

                function check() {
                    if (passwordModule.isLenghtPass(8)) {
                        valid($length);
                    } else {
                        inValid($length);
                    }
                    if (passwordModule.hasUpperCase() && passwordModule.hasLowerCase()) {
                        valid($letter);
                    } else {
                        inValid($letter);
                    }
                    if (passwordModule.hasNumber()) {
                        valid($num);
                    } else {
                        inValid($num);
                    }
                    if (passwordModule.isPassSame()) {
                        valid($passSame);
                    } else {
                        inValid($passSame);
                    }
                    canSubmit();
                }
                function canSubmit() {
                    if ($jsPassInfo.find('li').hasClass('invalid') === false) {
                        $btn.prop("disabled", false);
                    } else {
                        $btn.prop("disabled", true);
                    }
                }
                function infoShow() {
                    $jsPassInfo.show();
                }
                function infoHide() {
                    $jsPassInfo.hide();
                }
                return {
                    setP1: setP1,
                    setP2: setP2,
                    check: check,
                    infoShow: infoShow,
                    infoHide: infoHide,
                    setUsername: setUsername,
                    checkUsername: checkUsername,
                };
            })();
            //setup dom event
            $.jshook('password1').on({
                'keyup.set': SignUpControl.setP1,
                //focus: SignUpControl.infoShow,
                //blur: SignUpControl.infoHide,
                paste: false
            });
            $.jshook('password2').on({
                'keyup.set': SignUpControl.setP2,
                //focus: SignUpControl.infoShow,
                //blur: SignUpControl.infoHide,
                paste: false
            });
            $.jshook('checkPass').on({
                'keyup.check': SignUpControl.check
            });
            $.jshook('username').on({
                'keyup.set': SignUpControl.setUsername
            });
            $.jshook('SignUpBtn').on({
                click: BtnStatus.disable
            });
        });
    </script>
{% endblock %}
