{% extends "template/base.html.twig" %}
{% block cssStyle %}
{% endblock %}
{% block bodyHTML %}
    <form>
        <p>    
            <label for="username">Username:</label>
            <span><input name="username" type="text" /></span>
        </p>
        <p>
            <label for="pswd">Password:</label>
            <span><input data-hook="password1" type="password" name="pswd" /></span>
        </p>
        <p>
            <label for="pswd2">confirm Password:</label>
            <span><input data-hook="password2" type="password" name="pswd2" /></span>
        </p>
        <p>
            <button data-hook="SignUpBtn" type="submit" disabled="disabled">Signup</button></p>


        {% include 'include/csrf.twig' %}
    </form>

    <div data-hook="passCheckInfo" class="passInfo">
        <h4>Password must meet the following requirements:</h4>
        <ul>
            <li data-hook="Letter" class="invalid">At least <strong>one Case Diff letter</strong></li>
            <li data-hook="Number" class="invalid">At least <strong>one number</strong></li>
            <li data-hook="Length" class="invalid">Be at least <strong>8 characters</strong></li>
            <li data-hook="PassSame" class="invalid">confirm password</li>
        </ul>
    </div>
{% endblock %}

{% block jsBottom %}
    {{ parent() }}
    <script>
        $(function () {
            'use strict';
            SignUpControl.setting({
                jsPassInfo: $.jshook('passCheckInfo'),
                btn: $.jshook('SignUpBtn'),
                length: $.jshook('Length'),
                letter: $.jshook('Letter'),
                num: $.jshook('Number'),
                passSame: $.jshook('PassSame'),
                validClass: 'valid',
                invalidClass: 'invalid'
            });
            //setup dom event
            $.jshook('password1').on({
                keyup: SignUpControl.setP1,
                focus: SignUpControl.infoShow,
                blur: SignUpControl.infoHide
            });
            $.jshook('password2').on({
                keyup: SignUpControl.setP2,
                focus: SignUpControl.infoShow,
                blur: SignUpControl.infoHide
            });
        });
    </script>
{% endblock %}
