{# empty Twig template #}
<h1>Upload a file</h1>
        <form method="POST" action="{{ path_for('upload') }}" enctype="multipart/form-data">
            <label>Select file to upload:</label>
            <input type="file" name="newfile">
            <input type="file" name="newfile2">
            <button type="submit">Upload</button>
        </form>

<div style="color:red">{{ errorMsg | join(',') }}</div>

<div>
    <a href="{{ path_for('downlaodFile', {"filename": filename} ) }}">{{ filename }}</a>
</div>