{% extends "template/general_left_right_col.twig" %}

{% block leftHTML %}
    <h1>{{ langText.title_contact }}</h1>
    {% for police in polices %}
        {% include 'include/components/policy-contact.twig' %}
    {% endfor %}
    <div class="min-text">{{ langText.contact_footnote }}</div>
{% endblock %}

{% block rightHTML %}
    <div class="min-text">{{ langText.contact_office_title }}</div>
    {% for contact in contacts %}
        {% include 'include/components/office-map.twig' %}
    {% endfor %}
{% endblock %}

{% block jsBottom %}
    {{ parent() }}
    <script>activeNav('contact');</script>
{% endblock %}
