html{box-sizing: border-box;}
/*--------------------------------------------------------------
Layout structure
--------------------------------------------------------------*/
.wrap{
    max-width: 100%;
}

/*--------------------------------------------------------------
Elements size
--------------------------------------------------------------*/

/*--------------------------------------------------------------
Elements style
--------------------------------------------------------------*/



/*--------------------------------------------------------------
general
--------------------------------------------------------------*/
.hidden{
    display: none;
}
.invalid{
    color:red;
}
.valid{
    color:green;
}
.error{
    color:red;
}
