html{box-sizing: border-box;}
/*--------------------------------------------------------------
Layout structure
--------------------------------------------------------------*/
.wrap{
    max-width: 100%;
}

/*--------------------------------------------------------------
Elements size
--------------------------------------------------------------*/

/*--------------------------------------------------------------
Elements style
--------------------------------------------------------------*/



/*--------------------------------------------------------------
general
--------------------------------------------------------------*/
.form-input {
    border-top:0;
    border-left:0;
    border-right:0;
    border-bottom: 2px solid blue;
}
.form-input:focus{
    border-bottom: 2px solid green;
}
.form-error{
    border-bottom: 2px solid red;
}
.form-error,.form-error:focus{
    border-bottom: 2px solid red;
}


.hidden{
    display: none;
}
.invalid{
    color:red;
}
.valid{
    color:green;
}
.error{
    color:red;
}


