<div class="claim_nav">
    <span class="breadcrumb active">{{ langText.claim_nav_select }}</span>
    <a class="breadcrumb active">{{ langText.claim_nav_details }}</a>
    <a class="breadcrumb active">{{ langText.claim_nav_reimburse }}</a>
    <a class="breadcrumb">{{ langText.claim_nav_doc }}</a>
</div>
