<div class="nav">
    <span class="breadcrumb active">{{ langText.claim_nav_select }}</span>
    <span class="breadcrumb">{{ langText.claim_nav_details }}</span>
    <span class="breadcrumb">{{ langText.claim_nav_reimburse }}</span>
    <span class="breadcrumb">{{ langText.claim_nav_doc }}</span>
</div>
