<div id="generalModel" class="modal home_model">
    <div class="home_model-content">
        <div class="row">
            <div class="col s12">
                <h4 id="generalModelTitle"></h4>
            </div>
            <div class="col s12">
                <p class="home_model-content_p valid_msg" id="generalModelDesc"></p>
                <button data-jshook="generalModelBtnClose" class="{{ css.btn_1 }}" type="button" >{{ langText.closeBtn }}</button>
            </div>
        </div>
    </div>
</div>
