<div id="passwordUpdatedBox" class="modal home_model">
    <div class="home_model-content">
        <div class="row">
            <div class="col s12">
                <h4>{{ langText.password_updated_title }}</h4>
            </div>
            <div class="col s12">
                <p class="home_model-content_p valid_msg"><i class="material-icons icon_color_1 icon_size_24 ">done</i> {{ langText.password_updated_desc }}</p>
                <button data-jshook="passwordUpdatedBoxBtnClose" class="{{ css.btn_1 }}" type="button" >{{ langText.closeBtn }}</button>
            </div>
        </div>
    </div>
</div>
