<section class="row policy_contact">
    <div class="col s12 min-text">{{ langText.policy_contact_title }}</div>
    <div class="col s12">
        <h3>{{ police.plan.plan_name }}</h3>
    </div>
    <div class="col s12 m9 l9">
        <advisor :p="plist[{{ loop.index0 }}]" inline-template>
            {% include 'include/components/advisor.twig' %}
        </advisor>
    </div>
</section>
