<div class="row premium_box">
    <div class="col s6 m6 l5">
        <div class="left premium_box_iconbox"><i class="material-icons icon_color_3 icon_size_22">account_circle</i></div>
        <div class="premium_box_namebox">${ fullname }</div>
    </div>
    <div class="col s6 m5 l5 offset-m1 offset-l2">{{ langText.policy_info_premium }}: <span class="premium_box_premium">${ p.premium_paid }</span></div>
</div>
