<div id="saveClaim" class="modal home_model">
    <div class="home_model-content">
        <div class="row">
            <div class="col s12">
                <h4>{{ langText.save_claim_title }}</h4>
            </div>
            <div class="col s12">
                <p class="home_model-content_p valid_msg">{{ langText.save_claim_Success }}</p>
                {{ forms.MD_button_1('saveClaimBtnClose',langText.closeBtn,'button') }}
            </div>
        </div>
    </div>
</div>
