
        <div class="input-field col s12 m9 l9">
            <select data-jshook="planSelectBox" name="plist" id="plist">
                <option value="" disabled selected>{{ langText.policy_select }}</option>
                <option v-for="(val, key) in plist" :value="key" :selected="key === 0 ? 'selected': ''">${ val.plan.plan_name }</option>
            </select>
        </div>
