<div class="row form-style-3">
        <div class="col s12">{{ langText.policy_info_intro }}</div>
        <div class="input-field col s12 m9 l9">
            <select data-jshook="planSelectBox" name="plist" id="plist">
                <option value="" disabled selected>Choose your option</option>
                <option v-for="(val, key) in plist" :value="key" :selected="key === 0 ? 'selected': ''">${ val.plan.plan_name }</option>
            </select>
        </div>
    </div>
