html,body {
    -webkit-overflow-scrolling: touch;
    -webkit-position: sticky
}
/*--------------------------------------------------------------
over write materialize style
--------------------------------------------------------------*/
input:not([type]).validate+label, input[type=text].validate+label, input[type=password].validate+label, input[type=email].validate+label, input[type=url].validate+label, input[type=time].validate+label, input[type=date].validate+label, input[type=datetime].validate+label, input[type=datetime-local].validate+label, input[type=tel].validate+label, input[type=number].validate+label, input[type=search].validate+label, textarea.materialize-textarea.validate+label {
    width: 95%;
}
/*--------------------------------------------------------------
Layout structure
--------------------------------------------------------------*/
header{
    padding-top:0.5rem;
    position: fixed;
    width: 100%;
    top:0;
    z-index:100;
    background-color: #ececec;
}
.header_space{
    height: 4rem;
}
.mobile_nav_icon{
    display:block;
    margin-top: 1rem;
}
.mobile_nav_icon i{
    color: #039be5;
    font-size: 2rem;
}
.side-nav{
    background-color:#ececec
}
.side-nav a {
    color : #363636;
}
.side-nav a.nav_active {
    color : #0292e4;
}

/*--------------------------------------------------------------
page style
--------------------------------------------------------------*/
.home_verify_div{
    height: 10rem;
}
.home_verify_msg{
    height: 6rem;
}
.home_h1{
    margin-top: 0;
}
/** main page block effect **/
.view{
    height: 8rem;
}
.view span{
    transform: translateY(-1rem);
}
.view1 img{
    margin-right:0.5rem;
}
.view3{
    opacity: 1;
    padding-left:1rem;
    padding-right:1rem;
    transform: scale(1.1);
    transform: translateY(-3.2rem);
    color:#fff;
}
.view3 hr{
    opacity: 1;
    width: 100%;
}

.home_model { width:90%;max-height: 80%}

.general .right_side{
    margin-top: 1rem;
}

.claim_info_box1_title,.claim_info_box1_desc{
    padding-left: 4.9375rem;
}

.upload_btn_c{
    padding-bottom:0.75rem;
}

.member_address_newbox{
    border :1px solid #84dcf2;
    height:8rem;
    margin-top:1rem;
}