/*--------------------------------------------------------------
Layout structure
--------------------------------------------------------------*/
.body_container{
    min-height: 100vh;
    min-width: 768px;
    position: relative;
}
.wrap{
    min-width: 768px;
}

/*--------------------------------------------------------------
page style
--------------------------------------------------------------*/
.home_verify_div{
    height: 15rem;
}
.home_verify_msg{
    height: 10.7rem;
}
.home_footer_div{
    position: absolute;
    bottom: 0;
    left : 0;
    width: 100%;
}
/*--------------------------------------------------------------
include components
--------------------------------------------------------------*/
header {
    padding-top:1.25rem;
}
.header_nav{
    margin-top:1rem;
}
.header_nav_bar{
    padding:0 1rem;

}
.header_nav_bar a{
    font-size: 1.125rem;
    color : #363636;
}
.header_nav_bar a.nav_active{
    color : #0292e4;
}
.hearder_nav_bar_username{
    text-decoration: underline;
}
.header_nav_bar .dropdown-content {
    background-color: #555;
}
.header_nav_bar .dropdown-content li:hover{
    background-color: #555;
}
.header_nav_bar .dropdown-content li > a, .header_nav_bar .dropdown-content li > span {
    color: #fff;
    text-align: center;
}
.footer_space{
    height:6.0625rem;
}
.general_footer_div{
    position: absolute;
    bottom: 0;
    left : 0;
    width: 100%;
}
/** main page block effect **/
.view{
    height: 10rem;
}
.view1 img{
    margin-right:1rem;
}
.view:hover{
    transition: all 0.2s linear;
    background: #40c4ff; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, #2398da, #a4e3f3); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #2398da, #a4e3f3); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #2398da, #a4e3f3); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #2398da, #a4e3f3); /* Standard syntax */
}
.view:hover span{
    transition: all 0.2s linear;
    transform: translateY(-1.5rem);
}
.view:hover .view3{
    transition: all 0.3s ease-in-out;
    opacity: 1;
    transform: scale(1.1);
    transform: translateY(-2.5rem);
}
.view:hover .view3 hr{
    transition: all 0.5s ease-in-out;
    opacity: 1;
    width: 100%;
}

.home_model { width:55%;max-height: 80%}

.general .right_side{
    margin-top: 5rem;
}

.claim_info_box1_title,.claim_info_box1_desc{
    padding-left:5.4375rem;
}

.upload_btn_c{
    padding-top:0.75rem;
}

.member_address {
    height:21rem; 
    margin-bottom: 1rem;
    overflow: hidden;
}

.member_address_newbox{
    border :1px solid #84dcf2;
    height:16rem;
    margin-top:1rem;
}